<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form action="/" method="POST">
		Weight(Kg)
		<input type="text" name="weight"><br>
		Height(Cm)
		<input type="text" name="height"><br>
		<button type="submit" value="submit">Calculte</button>
	</form>

	{%if bmi%}
	<p>your BMI is	{{bmi}}</p>
	
	 {% if bmi > 18.5 and  25 >= bmi %}
            <p>Great. Maintain your current healthy weight.</p>

            {%elif bmi > 16 and 18.5 > bmi %}
            <p>You are underweight.</p>
            <p>To get to the healthy you need to gain some weight.</p> 
            
            {%elif 16 > bmi %}
            <p>You are severely underweight.</p>
            <p>To get to the healthy you need to gain some weight.</p> 

            {%elif bmi > 25 and 30 > bmi %}
            <p>You are overweight.</p>
            <p>To get to the healthy you need to lose some weight.</p> 

            {% else%}
            <p>You are severely overweight.</p>
            <p>To get to the healthy you need to lose some weight.</p> 
	{%endif%}
	{%endif%}
</body>
</html> 
 